# ===========================
# Virtual Environment
# ===========================
.venv/

# ===========================
# Python Cache
# ===========================
__pycache__/
*.py[cod]

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Logs
# ===========================
logs/*
!logs/.gitkeep

# ===========================
# Generated Database
# ===========================
data/placementiq.db

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# Packaging
# ===========================
*.egg-info/