# ===========================
# Virtual Environment
# ===========================

.venv/

# ===========================
# Python Cache
# ===========================
__pycache__/
*.py[cod]

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Logs
# ===========================
logs/*
!logs/.gitkeep

# ===========================
# Runtime Data
# ===========================
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# ===========================
# macOS
# ===========================
.DS_Store